<?xml version="1.0" encoding="UTF-8"?>
<!--

       Copyright 2009-2016 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vo.mapper">
    <insert id="add" useGeneratedKeys="true">
        insert into users(id,username,password,sex,phone,headfile)values (
        #{id},#{username},#{password},#{sex},#{phone},#{headfile}
        )
    </insert>
    <select id="selectAll" parameterType="com.vo.User" resultType="com.vo.User">
        select id,username,password,sex,account,phone,headfile from users
    </select>
    <select id="selectByName" parameterType="String" resultType="com.vo.User">
        select id,username,password,sex,account,phone,headfile from users
        where username = #{username}
    </select>
    <select id="selectByNameOne" parameterType="String" resultType="com.vo.User">
        SELECT id,username,password,sex,account,phone,headfile from users
        where username = #{username}
    </select>
    <select id="selectById" parameterType="int" resultType="com.vo.User">
        select id,username,password,sex,account,phone,headfile from users
        where id = #{id}
    </select>
    <update id="updateAccount" parameterType="com.vo.User">
        update users set account = account + #{account} where id=#{id}
    </update>
    <update id="upUserfile" parameterType="com.vo.User">
        update users set username = #{username},sex=#{sex},phone=#{phone},headfile=#{headfile}
        where id = #{id}
    </update>
    <update id="updateUser" parameterType="com.vo.User">
        update users set username = #{username},sex=#{sex},phone=#{phone}
        where id = #{id}
    </update>
    <delete id="deleteFile" parameterType="int">
        delete  from users where id = #{id}
    </delete>
    <update id="updatePass" parameterType="com.vo.User">
         update users set password = #{password} where id = #{id}
    </update>
</mapper>
